enable
configure terminal
! MARKETING SubInterface
interface GigabitEthernet 0/0/1.20
!Envery frame going through the interface 
!belongs to the Marketing 20
encapsulation dot1Q 20
ip address 192.168.20.254 255.255.255.0
ip helper-address 192.168.30.3
no shut
exit 
!H
interface GigabitEthernet 0/0/1.21
!Envery frame going through the interface 
!belongs to the HR 21
encapsulation dot1Q 21
ip address 192.168.21.254 255.255.255.0
ip helper-address 192.168.30.3
no shut
exit 
!direction 
interface GigabitEthernet 0/0/1.22
!Envery frame going through the interface 
!belongs to the direction 22
encapsulation dot1Q 22
ip address 192.168.22.254 255.255.255.0
ip helper-address 192.168.30.3
no shut
exit 
!services subinterface 
interface GigabitEthernet 0/0/1.30
!Envery frame going through the interface 
!belongs to the service subinterface 30
encapsulation dot1Q 30
ip address 192.168.30.254 255.255.255.0
no shut
exit 
