enable
configure terminal
interface GigabitEthernet 1/0/20
switchport mode trunk 
switchport trunk allowed vlan 20,21,22
exit 
interface GigabitEthernet 1/0/21
switchport mode trunk 
switchport trunk allowed vlan 20,21,22
exit 
interface GigabitEthernet 1/0/22
switchport mode trunk 
switchport trunk allowed vlan 20,21,22
exit 
